Task 1/intake_triage.json
{
  "name": "AI Systems & Automation Strategist",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1_FU0If_oqV_j-zK1oLouvyZTU56TK4RX444sdFHvOs0",
          "mode": "list",
          "cachedResultName": "AI Automation Strategist Assessment ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_FU0If_oqV_j-zK1oLouvyZTU56TK4RX444sdFHvOs0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 281648898,
          "mode": "list",
          "cachedResultName": "Sheet 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_FU0If_oqV_j-zK1oLouvyZTU56TK4RX444sdFHvOs0/edit#gid=281648898"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "bc8b5adc-f767-4249-99bb-3cfb8e923ff7",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "K094iTy0y6KGA2UT",
          "name": "Google Sheets Trigger account - Hashim"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        208
      ],
      "id": "2e254982-a089-4158-ab1c-242d5dac2050",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_FU0If_oqV_j-zK1oLouvyZTU56TK4RX444sdFHvOs0",
          "mode": "list",
          "cachedResultName": "AI Automation Strategist Assessment ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_FU0If_oqV_j-zK1oLouvyZTU56TK4RX444sdFHvOs0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 281648898,
          "mode": "list",
          "cachedResultName": "Sheet 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_FU0If_oqV_j-zK1oLouvyZTU56TK4RX444sdFHvOs0/edit#gid=281648898"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        208
      ],
      "id": "4e058dd4-dd50-4c55-844d-c56db75d93eb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WQN5p2Z3zwbNWalu",
          "name": "Google Sheets account -  Hashim"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over each item coming from Google Sheets\nfor (const item of $input.all()) {\n  \n  // List of fields that should be boolean (true/false)\n  const booleanFields = ['has_children', 'owns_property', 'has_business'];\n\n  booleanFields.forEach(field => {\n    // If field is empty string, undefined, or null, set to false\n    // Otherwise, convert to actual boolean if it's a string like \"true\"\n    if (item.json[field] === \"\" || item.json[field] === undefined || item.json[field] === null) {\n      item.json[field] = false;\n    } else {\n      // Ensure existing \"true\"/\"false\" strings or numbers are cast to proper booleans\n      item.json[field] = Boolean(item.json[field]);\n    }\n  });\n\n  // Ensure age is an integer as required by the brief \n  if (item.json.age) {\n    item.json.age = parseInt(item.json.age, 10);\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "e1e1dace-30de-4ad8-ad08-76571f8da38f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Client Profile to Analyze:\n{{ $json.toJsonString() }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert estate planning advisor. Analyse the client profile below and recommend\nappropriate estate planning instruments.\n\nYou must respond ONLY with a valid JSON object. No markdown fences, no explanation, no text\noutside the JSON.\n\nAvailable instruments (use these exact names):\n  - Last Will and Testament\n  - Revocable Living Trust\n  - Irrevocable Trust\n  - Pour-Over Will\n  - Healthcare Directive (Living Will)\n  - Durable Power of Attorney (Financial)\n  - Healthcare Power of Attorney\n  - Beneficiary Designations Review\n  - Business Succession Plan\n  - Guardianship Designation\n\nUrgency guidance:\n  High → age 65+, owns a business, has minor children, or multiple complex assets\n  Medium → age 45–64, married with property, or moderate complexity\n  Low → age under 45, single, few assets, straightforward profile",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        0
      ],
      "id": "c10c640a-2c9e-4b87-95ea-f668b0b2c3ae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        224
      ],
      "id": "6b1f63b9-58fb-42a8-80fa-2401e30edded",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8gtgeKZwYO40QuFZ",
          "name": "Google Gemini(PaLM) Api account -  Hashim"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"client_name\": {\n      \"type\": \"string\",\n      \"description\": \"The full name of the client\"\n    },\n    \"recommended_instruments\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"A list of estate planning documents such as Living Trust, Will, etc.\"\n    },\n    \"rationale\": {\n      \"type\": \"string\",\n      \"description\": \"1 to 3 sentences explaining why these specific instruments were recommended\"\n    },\n    \"urgency_flag\": {\n      \"type\": \"string\",\n      \"enum\": [\"High\", \"Medium\", \"Low\"],\n      \"description\": \"Priority level based on the complexity of the client's profile\"\n    }\n  },\n  \"required\": [\"client_name\", \"recommended_instruments\", \"rationale\", \"urgency_flag\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        944,
        224
      ],
      "id": "62abde98-a0b9-443d-906d-ea365b73e0bc",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {
    "Get row(s) in sheet": [
      {
        "json": {
          "row_number": 2,
          "name": "John Sterling",
          "age": 68,
          "marital_status": "Married",
          "has_children": true,
          "owns_property": true,
          "has_business": true
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 3,
          "name": "Sarah Chen",
          "age": 32,
          "marital_status": "Single",
          "has_children": false,
          "owns_property": false,
          "has_business": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 4,
          "name": "Marcus Rivera",
          "age": 45,
          "marital_status": "Divorced",
          "has_children": true,
          "owns_property": true,
          "has_business": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 5,
          "name": "Elena Vance",
          "age": 55,
          "marital_status": "Married",
          "has_children": true,
          "owns_property": false,
          "has_business": true
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3cf46a96-0aec-469e-bef6-03cd95770808",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a2477dd09c3ce1354ab679a9a8a7c73781fb90c09e9102e42071e6ba739e0eb"
  },
  "id": "N326TKh7XCo7KSd7",
  "tags": []
}